h1{
    background-color: blanchedalmond;
    text-align: center;
    text-decoration: underline;
}
img{
    text-align: center;
    border-radius: 10%;
}
h2{
    text-align: center;
}

button{
    background-color: blanchedalmond;
    text-align: center;
    
}
h3{
    background-color: blanchedalmond;
    font-size:  size 40px;
}
h4{
    
    background-color: blanchedalmond;
    font-size: 20px;
}
body{
    background-color:skyblue;
}
#frontenddev{
    background-color:chartreuse;
}
    

